/* >>>>>>>>>>>>>>>>>>>>>>
 * ESTILOS GENERALES *
 <<<<<<<<<<<<<<<<<<<<<<<<*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* >>>>>>>>>>>>>>>>>>>>>>
 * MODAL *
 <<<<<<<<<<<<<<<<<<<<<<<<*/
.modal-header {
    background-color: rgb(60, 72, 243);
    color: rgba(203, 195, 195, 1);
}

/*validaciones para los campos del modal*/
input:invalid,
select:invalid,
textarea:invalid {
    border: 1px solid red;
}

input:valid,
select:valid,
textarea:valid {
    border: 1px solid #ced4da;
    /* Cambia este color al color de borde predeterminado */
}

.border-red {
    border-color: red !important;
    /* Cambia el color del borde a rojo */
}