.navbar {
    background-color: rgb(0, 6, 90);
    min-height: 80px;
}

.navbar-nav {
    margin-left: 80px;
}

.nav-item {
    padding: 10px;
}

.boton {
    background-color: F48598;
    color: white;
}

#cajapadre {
    display: flex;
    width: 80%;
    min-width: 250px;
    align-items: stretch;
    flex-wrap: wrap-reverse;
    /* background-color: aquamarine; */
}

#cajapadre>div {
    height: 180px;
    margin: 5px;
    /* background-color: #CCCCCC; */
}



.card {
    width: 130px;
    height: 145px;
    /* background-color: white; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 10px;
    /* Espaciado interno */
    margin: 10px;
    /* Margen exterior */
    opacity: 0;
    /* Inicialmente invisible */
    transition: opacity 0.3s, scale 0.3s;

    /* Fondo con imagen y degradado para la descripción */
    background:
        /* Fondo con imagen */
        /* url('../html/swiftui.png') center/cover, */
        /* Degradado para la descripción */
        linear-gradient(to bottom, rgba(4, 50, 71, 0), #1f0cad80);
}

.card-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-description {
    font-size: 0.75em;
    /* Tamaño base del texto */
    overflow: hidden;
    /* Oculta el exceso de texto */
    text-overflow: ellipsis;
    /* Agrega puntos suspensivos (...) */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Número de líneas a mostrar */
    -webkit-box-orient: vertical;
    transition: font-size 0.3s;
    /* Transición suave del tamaño del texto */
}

/* .card:hover .card-description {
    //Tamaño más pequeño del texto al pasar el ratón 
    font-size: 0.8em; 
} */

.card:hover {
    scale: 1.05;
}

.card.show {
    opacity: 1;
    /* Hacer visible */
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}
.iconFav{  
    position: absolute;  
    right:  5px;
    bottom: 5px;
    padding: 5px;
}

.iconFav .fas:hover {  
    color: rgb(255, 98, 0);
}
.iconFav .fas {  
    color: yellow;
}

.iconFavRed {  
    color: red !important; /* Añade !important para asegurar que el estilo se aplique */
}


